@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: var(--font--gobal-font);
    color: var(--neutral--black-900);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 5.625rem;
    font-weight: 500;
    line-height: 6.125rem;
}

h2 {
    font-family: var(--font--gobal-font);
    color: var(--neutral--black-900);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.75rem;
    font-weight: 500;
    line-height: 5.25rem;
}

h4 {
    font-family: var(--font--gobal-font);
    color: var(--neutral--black-900);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.625rem;
    font-weight: 500;
    line-height: 3.125rem;
}

h5 {
    font-family: var(--font--gobal-font);
    color: var(--neutral--black-900);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 2.375rem;
}

.text-size-regular {
    color: var(--neutral--black-700);
    margin-bottom: 0;
    margin-left: 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.625rem;
}

p {
    margin-bottom: 10px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    h2 {
        font-size: 2.3rem;
        line-height: 2.7rem;
    }

    h4 {
        font-size: 1.9rem;
        line-height: 2rem;
    }

    h5 {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    .text-size-regular {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    h4 {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    h5 {
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    .text-size-regular {
        max-width: none;
    }
}

@media screen and (max-width: 479px) {
    h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}